<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Shatter CNC Management (Dev)</name>
  <service>
    <type>_https._tcp</type>
    <port>443</port>
    <txt-record>path=/</txt-record>
    <txt-record>version=0.1.0</txt-record>
    <txt-record>environment=development</txt-record>
  </service>
</service-group>
